<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="privaterepo" value="http://privaterepo/nuget" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <!-- <packageManagement> -->
    <!-- <add key="format" value="1" /> -->
    <!-- <add key="disabled" value="False" /> -->
  <!-- </packageManagement> -->
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <privaterepo>
	  <add key="Username" value="jenkins" />
	  <add key="ClearTextPassword" value="pwd" />
	  <!-- <add key="ValidAuthenticationTypes" value="basic" /> -->
    </privaterepo>
  </packageSourceCredentials>
  <apikeys>
    <add key="http://privaterepo/nuget" value="test" />
  </apikeys>
</configuration>